@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Salles Web MVC App from C# Course";
}

<h1>@ViewData["Title"]</h1>
<h4>@ViewData["Message"]</h4>

<p>Dev Vinicius</p>

<adress>
    <strong>More information: <a href="http://educandoweb.com.br">Educando Web</a></strong>
</adress>